# Core functionality - changes here should be rare!
/src/app.py                   @Sukritiabc
/src/backend/database.py      @Sukritiabc
/src/backend/routers/auth.py  @Sukritiabc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sukritiabc
